<!DOCTYPE html>
{% load pages_tags mezzanine_tags i18n future staticfiles custom_tags widget_tweaks %}
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en">
<![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8" lang="en">
<![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <title>Colors of Armenia</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
<!--
Genius Template
http://www.templatemo.com/preview/templatemo_402_genius
-->
    <meta name="author" content="templatemo">
    <meta charset="UTF-8">
    <link href='http://fonts.googleapis.com/css?family=Dosis:300,400,500,600,700,800' rel='stylesheet' type='text/css'>

    <!-- CSS Bootstrap & Custom -->
    <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="{% static 'css/templatemo_misc.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
    <link href="{% static 'css/templatemo_style.css' %}" rel="stylesheet" media="screen">

    <!-- Favicons -->
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">

    <!-- JavaScripts -->
    <script src="{% static 'js/jquery-1.10.2.min.js' %}"></script>
    <script src="{% static 'js/modernizr.js' %}"></script>
    <!--[if lt IE 8]>
    <div style=' clear: both; text-align:center; position: relative;'>
            <a href="http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode"><img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" alt="" /></a>
        </div>
    <![endif]-->
</head>
<body>


    <div class="bg-image"></div>
    <div class="overlay-bg"></div>



    <!-- This one in here is responsive menu for tablet and mobiles -->
    <div class="responsive-navigation visible-sm visible-xs">
        <a href="#" class="menu-toggle-btn">
            <i class="fa fa-bars fa-2x"></i>
        </a>
        <div class="responsive_menu">
            <ul class="main_menu">
                <li><a class="show-1 homebutton" href="#"><i class="fa fa-home"></i>Homepage</a></li>
                <li><a class="show-2" href="#"><i class="fa fa-group"></i>About Us</a></li>
                <li><a class="show-3" href="#"><i class="fa fa-picture-o"></i>Our Gallery</a></li>
                <li><a class="show-4" href="{% url 'blog_post_list' %}"><i class="fa fa-bullhorn"></i>Blog</a></li>
                <li><a class="show-5" href="#"><i class="fa fa-globe"></i>Contact Us</a></li>
            </ul> <!-- /.main_menu -->
        </div> <!-- /.responsive_menu -->
    </div> <!-- /responsive_navigation -->

    <div class="main-content">
        <div class="container">
            <div class="row">

                <!-- Static Menu -->
                <div class="col-md-2 visible-md visible-lg">
                    <div class="main_menu">
                        <ul class="menu">
                            <li><a class="show-1 homebutton" href="#" data-toggle="tooltip" data-original-title="Homepage"><i class="fa fa-home"></i></a></li>
                            <li><a class="show-2" href="#" data-toggle="tooltip" data-original-title="About Us"><i class="fa fa-user"></i></a></li>
                            <li><a class="show-3" href="#" data-toggle="tooltip" data-original-title="Our Gallery"><i class="fa fa-picture-o"></i></a></li>
                            <li><a href="{% url 'blog_post_list' %}" data-original-title="Blog"><i class="fa fa-bullhorn"></i></a></li>
                            <li><a class="show-5" href="#" data-toggle="tooltip" data-original-title="Stay In Touch"><i class="fa fa-globe"></i></a></li>
                        </ul>
                    </div> <!-- /.main-menu -->
                </div> <!-- /.col-md-2 -->

                <!-- Begin Content -->
                <div class="col-md-10">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="templatemo_logo">
                                <a href="#">
                                    <img id="logo" src="{% static 'images/logo.gif' %}" alt="Colors of Armenia">
                                </a>
                            </div> <!-- /.logo -->

                        </div> <!-- /.col-md-12 -->
                    </div> <!-- /.row -->


                    <div id="menu-container">

                        <div id="menu-1" class="homepage">
                            {% get_project_portitems as project_portitems %}
                            <h3>
                                Featured Tours:
                            </h3>
                            <div class="row">
                                {% for portitem in project_portitems %}
                                    <div class="col-md-4 col-sm-6 col-xs-6">
                                        <div class="portfolio-item">
                                            <div class="overlay">
                                                <a id="not-popup" href="#myModal-{{forloop.counter}}" data-toggle="modal">
                                                    <i class="fa fa-expand"></i>

                                                </a>
                                                <h3>{{ portitem.short_description|richtext_filters|safe }}</h3>
                                                <!-- Modal HTML -->
                                                <div id="myModal-{{forloop.counter}}" class="modal fade">
                                                    <div class="modal-dialog" tabindex="-1" role="dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times fa-3x"></i><span class="sr-only">Close</span></button>
                                                                <h4 class="modal-title">{{ portitem.title }}</h4>
                                                            </div>
                                                            <div class="modal-body">
                                                                    <div class="row">
                                                                        {% for image in portitem.images.all %}
                                                                            <div class="col-md-4 col-sm-6 col-xs-6">
                                                                                <img id="popup_img" src="{{ MEDIA_URL }}{{ image.file }}" class="img-responsive" />
                                                                            </div>
                                                                        {% endfor %}
                                                                    </div>

                                                                {{ portitem.content|richtext_filters|safe }}

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <img src="{{ MEDIA_URL }}{{ portitem.featured_image }}" alt="Image {{ forloop.counter }}">
                                        </div> <!-- /.portfolio-item -->
                                    </div> <!-- /.col-md-4 -->
                                {% endfor %}
                            </div> <!-- /.row -->
                            <a id="cta" href="#" class="btn btn-primary show-5"><h3>Book a tour</h3></a>
                        </div> <!-- /.homepage -->

                        <div id="menu-2" class="content about-us">
                            <div class="page-header">
                                <h2 class="page-title">About Us</h2>
                            </div> <!-- /.page-header -->
                            <div class="content-inner">
                                <div class="row">
                                    <div class="col-md-7">
                                        <h3 class="widget-title">What is our goal?</h3>
                                        <p style="color: #fff">Our goal is to show you Armenia in a way that will excite you. We cherish you as our dear guest in our <span class="blue">hospitable</span> country. We assist you throughout all your stay in Armenia and welcome you back whenever you wish.</p>

                                        
                                    </div> <!-- /.col-md-7 -->
                                    <a id="cta_about" href="#" class="btn btn-primary text-center"><h3>Book a tour</h3></a>
                                    <div class="col-md-5">

                                    </div> <!-- /.col-md-5 -->
                                </div> <!-- /.row -->
                                <div class="our-team">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h3 class="widget-title">Meet Our Team</h3>
                                        </div> <!-- /.col-md-12 -->
                                    </div> <!-- /.row -->
                                    <div class="row">
                                        <div class="col-md-4 col-sm-6">
                                            <div class="team-member">
                                                <div class="member-thumb">
                                                    <img src="{% static 'images/me.jpg' %}" alt="">
                                                </div>
                                                <div class="member-infos">
                                                    <h4 class="member-name">Davit</h4>
                                                    <span class="member-role">Guest Service Rep</span>
                                                    <p class="member-desc">I enjoy travelling myself and I've been to many places before. I will answer all your questions and help you feel at home.</p>

                                                </div>
                                            </div>
                                        </div> <!-- /.col-md-4 -->
                                        <div class="col-md-4 col-sm-6">
                                            <div class="team-member">
                                                <div class="member-thumb">
                                                    <img src="{% static 'images/gohar.jpg' %}" alt="">
                                                </div>
                                                <div class="member-infos">
                                                    <h4 class="member-name">Gohar</h4>
                                                    <span class="member-role">General Manager</span>
                                                    <p class="member-desc">I like reading and contributing to travel blogs. Getting to know many travellers helped to understand them better.</p>

                                                </div>
                                            </div>
                                        </div> <!-- /.col-md-4 -->
                                        <div class="col-md-4 col-sm-6">
                                            <div class="team-member">
                                                <div class="member-thumb">
                                                    <img src="{% static 'images/ani.png' %}" alt="">
                                                </div>
                                                <div class="member-infos">
                                                    <h4 class="member-name">Ani</h4>
                                                    <span class="member-role">Tour guide</span>
                                                    <p class="member-desc">I greatly enjoy introducing our wonderful country to our guests and telling them stories hidden behind every stone.</p>

                                                </div>
                                            </div>
                                        </div> <!-- /.col-md-4 -->
                                    </div> <!-- /.row -->
                                </div> <!-- /.our-team -->
                            </div> <!-- /.content-inner -->
                        </div> <!-- /.about-us -->

                        <div id="menu-3" class="content our-gallery">
                            <div class="page-header">
                                <h2 class="page-title">Our Tours</h2>
                            </div> <!-- /.page-header -->
                            <div class="content-inner">
                            {% get_gallery_images as img_cats %}
                            {% with cats=img_cats|last imgs=img_cats|first %}
                                <div class="row">
                                    <div class="col-md-6">
                                        <h3 class="widget-title">Have a look at our tour directions</h3>
                                    </div> <!-- /.col-md-6 -->
                                    <div class="col-md-6">
                                        <div class="filter-work pull-right">
                                            <a href="#nogo" class="toggle-filter">Category Filter</a>
                                            <ul class="filter-controls controls">
                                                <li class="filter" data-filter="all">Show All</li>
                                                {% for cat in cats.split %}
                                                    <li class="filter" data-filter="{{ cat }}">{{ cat|capfirst }}</li>
                                                {% endfor %}
                                            </ul>
                                        </div> <!-- /.filter-work -->
                                    </div> <!-- /.col-md-6 -->
                                </div> <!-- /.row -->
                                <div class="row">

                                    <div id="Grid">
                                        {% for image in imgs %}
                                            <div class="col-md-4 col-sm-6 mix {{ image.category }}">
                                                <div class="gallery-item">
                                                    <div class="gallery-thumb">
                                                        <img src="{{ MEDIA_URL }}{{ image.file }}" alt="">
                                                        <div class="overlay-g">
                                                            <a id="not-popup" href="{{ MEDIA_URL }}{{ image.file }}" data-rel="lightbox" class="fa fa-search"></a>
                                                        </div>
                                                    </div> <!-- /.gallery-thumb -->
                                                    <div class="gallery-content">
                                                        <h4 class="gallery-title">{{ image.description }}</h4>
                                                        <span class="gallery-category">{{ image.category }}</span>
                                                    </div> <!-- /.gallery-content -->
                                                </div> <!-- /.gallery-item -->
                                            </div> <!-- /.col-md-4 -->
                                        {% endfor %}
                                    </div> <!-- /#Grid -->
                            {% endwith %}
                                </div> <!-- /.row -->
                            </div> <!-- /.content-inner -->

                        </div> <!-- /.our-gallery -->

                        <div id="menu-4" class="content">
                            <div class="page-header">
                                <h2 class="page-title">Our Blog</h2>
                            </div> <!-- /.page-header -->
                            <div class="content-inner">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h3 class="widget-title">Welcome to Armenia! We make your stay memorable and comfortable.</h3>
                                    </div> <!-- /.col-md-12 -->
                                </div> <!-- /.row -->
                                <div class="row services">
                                    <h4>Our services range from meeting you at the airport and helping with accommodation to organizing sightseeing tours in our amazing country.</h4>
                                    {% get_services_portitem as services_portitem %}
                                    {% for portitem in services_portitem.images.all %}
                                            <div class="col-md-4 col-sm-6">
                                                <div class="service">
                                                    <div class="header">
                                                        <div class="header-bg"></div>
                                                        <div class="service-header">
                                                            <div class="icon">
                                                                <i class="fa {{ portitem.subtitle }}"></i>
                                                            </div>
                                                            <h4 class="service-title">{{ portitem.title }}</h4>
                                                        </div>
                                                    </div>
                                                    <div class="body">{{ portitem.desc|richtext_filters|safe }}</div>
                                                </div>
                                            </div> <!-- /.col-md-4 -->
                                    {% endfor %}
                                </div> <!-- /.row -->
                            </div> <!-- /.content-inner -->

                        </div> <!-- /.services -->

                        <div id="menu-5" class="content">
                            <div class="page-header">
                                <h2 class="page-title">Stay In Touch</h2>
                            </div> <!-- /.page-header -->
                            <div class="content-inner">
                                <div class="row">
                                    <div class="col-md-8">
                    {% get_contact_form as form %}
                                        <h3 class="widget-title">Send a message</h3>
                                        <p>Feel free to send us a message if you have any questions or enquiries.</p>
                                        <form id="templatemo-contact" method="post">
                                        {% csrf_token %}
                                                {% for hidden in form.hidden_fields %}
                                                    {{hidden}}
                                                {% endfor %}

                                            {% for vis in form.visible_fields %}


                                                  {% for err in vis.errors %}<span style="color:red">{{ err }}</span>{% endfor %}
                                                    {% render_field vis class="form-control" placeholder=vis.label required="required" %}

                                            {% endfor %}

                                          <div  class="text-center">
                                                 <input class="mainBtn" type="submit" name="" value="Send Message">
                                          </div>
                                        </form>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="information">
                                            <h3 class="widget-title">Information</h3>
                                            <ul class="our-location">
                                                <li style="color:#fff"><span><i class="fa fa-mobile-phone"></i>Phone:</span>+374-55-433-423</li>
                                                <li><span><i class="fa fa-envelope"></i>Email:</span><a href="mailto:info@colorsofarmenia">info@colorsofarmenia.com</a></li>
                                            </ul>
                                        </div> <!-- /.information -->
                                        <div class="google-map">
                                            <h3 class="widget-title">Our Location</h3>
                                            <div class="contact-map">
                                                <div class="google-map-canvas" id="map-canvas" style="height: 200px;">
                                                </div>
                                            </div> <!-- /.contact-map -->
                                        </div> <!-- /.google-map -->
                                    </div> <!-- /.col-md-4 -->
                                </div> <!-- /.row -->
                            </div> <!-- /.content-inner -->

                        </div> <!-- /.stay-in-touch -->

                        <div class="site-footer">
                            <div class="row">
                                <div class="col-md-6">
                                    <p class="copyright-text">Copyright &copy; 2015 Colors of Armenia</p>
                                </div>
                                <div class="col-md-6">
                                    <div class="social-icons-footer">
                                        <ul>
                                            <li><a href="https://www.facebook.com/coloursofarmenia" target="_blank" class="fa fa-facebook"></a></li>
                                            <li><a href="https://twitter.com/colorsofarmenia" target="_blank" class="fa fa-twitter"></a></li>
                                            <li><a href="https://plus.google.com/110399733780778541778" target="_blank" class="fa fa-google-plus"></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- /.site-footer -->

                    </div> <!-- /.content-holder -->

                </div> <!-- /.col-md-10 -->
            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </div> <!-- /.main-content -->

    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

    <script src="{% static 'js/jquery.mixitup.min.js' %}"></script>
    <script src="{% static 'js/jquery.nicescroll.min.js' %}"></script>
    <script src="{% static 'js/jquery.lightbox.js' %}"></script>
    <script src="{% static 'js/templatemo_custom.js' %}"></script>
    <script>
        function initialize() {
          var mapOptions = {
            zoom: 15,
            center: new google.maps.LatLng(40.188282, 44.517750)
          };
          var map = new google.maps.Map(document.getElementById('map-canvas'),
              mapOptions);
        }
        function loadScript() {
          var script = document.createElement('script');
          script.type = 'text/javascript';
          script.src = 'https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&' +
              'callback=initialize';
          document.body.appendChild(script);
        }
    </script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-55445508-2', 'auto');
      ga('send', 'pageview');

    </script>
</body>
</html>